
stages:
  - lint
  - test


variables:
  ATOUM_COVERAGE_FILENAME: coverage.xml
  ATOUM_XUNIT_FILENAME: xunit.xml
  DOCKER_REGISTRY: wearestancer
  PHP_BUILD_FILENAME: "lib-php-${CI_COMMIT_TAG}.tar.gz"


workflow:
  rules:
    - if: '$CI_COMMIT_REF_PROTECTED == "true"'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS'
      when: never
    - when: always


.php::base:
  image: ${DOCKER_REGISTRY}/php:$VERSION

  before_script:
    - php -v
    - composer --version
    - if [[ "$COMPOSER_PREFER" == "lowest" ]]; then export COMPOSER_PREFER='--prefer-lowest'; else export COMPOSER_PREFER= ; fi
    - composer update --no-progress --prefer-stable ${COMPOSER_PREFER}

  cache:
    key:
      files:
        - composer.json
    paths:
      - vendor/

  rules:
    - if: $VERSION == '7.4'
      variables:
        XDEBUG_VERSION: '3.1.6'
    - when: on_success


.php::all-versions:
  extends:
    - .php::base

  parallel:
    matrix:
      - COMPOSER_PREFER:
          - latest
          - lowest
        VERSION:
          - '7.4'
          - '8.0'
          - '8.1'
          - '8.2'


.php::stable-version:
  extends:
    - .php::base

  variables:
    VERSION: '7.4'


atoum:
  extends:
    - .php::all-versions

  stage: test

  script:
    - composer run test -- --max-children-number 1

  coverage: '/Code coverage value: \d+\.\d+%/'

  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: $ATOUM_COVERAGE_FILENAME
      junit: $ATOUM_XUNIT_FILENAME


phpcs:
  extends:
    - .php::stable-version

  stage: lint

  script:
    - composer run phpcs -- --report=full
    - composer run phpcs -- --report=\\Satesh\\Phpcs\\GitLabReport --report-file=codequality.json

  artifacts:
    reports:
      codequality: codequality.json


phpstan:
  extends:
    - .php::stable-version

  stage: lint

  script:
    - composer run phpstan || true
    - composer run phpstan -- --error-format=gitlab > codequality.json

  artifacts:
    reports:
      codequality: codequality.json
