parameters:
	ignoreErrors:
		-
			message: "#^Offset 'list' does not exist on array\\(\\?'coerce' \\=\\> callable\\(\\)\\: mixed, \\?'exception' \\=\\> class\\-string, \\?'exportable' \\=\\> bool, \\?'list' \\=\\> bool, \\?'restricted' \\=\\> bool, \\?'required' \\=\\> bool, \\?'size' \\=\\> array\\(\\?'fixed' \\=\\> int, \\?'min' \\=\\> int, \\?'max' \\=\\> int\\), 'type' \\=\\> string, \\.\\.\\.\\)\\.$#"
			count: 2
			path: src/Core/AbstractObject.php

		-
			message: "#^Offset 'value' does not exist on array\\(\\?'coerce' \\=\\> callable\\(\\)\\: mixed, \\?'exception' \\=\\> class\\-string, \\?'exportable' \\=\\> bool, \\?'list' \\=\\> bool, \\?'restricted' \\=\\> bool, \\?'required' \\=\\> bool, \\?'size' \\=\\> array\\(\\?'fixed' \\=\\> int, \\?'min' \\=\\> int, \\?'max' \\=\\> int\\), 'type' \\=\\> string, \\.\\.\\.\\)\\.$#"
			count: 7
			path: src/Core/AbstractObject.php

		-
			message: "#^Offset 'list' does not exist on array\\('type' \\=\\> 'DateTime', \\?'coerce' \\=\\> callable\\(\\)\\: mixed, \\?'exception' \\=\\> class\\-string, \\?'exportable' \\=\\> bool, \\?'list' \\=\\> bool, \\?'restricted' \\=\\> bool, \\?'required' \\=\\> bool, \\?'size' \\=\\> array\\(\\?'fixed' \\=\\> int, \\?'min' \\=\\> int, \\?'max' \\=\\> int\\), \\.\\.\\.\\)\\.$#"
			count: 1
			path: src/Core/AbstractObject.php

		-
			message: "#^Offset 'restricted' does not exist on array\\(\\?'coerce' \\=\\> callable\\(\\)\\: mixed, \\?'exception' \\=\\> class\\-string, \\?'exportable' \\=\\> bool, \\?'list' \\=\\> bool, \\?'restricted' \\=\\> bool, \\?'required' \\=\\> bool, \\?'size' \\=\\> array\\(\\?'fixed' \\=\\> int, \\?'min' \\=\\> int, \\?'max' \\=\\> int\\), 'type' \\=\\> string, \\.\\.\\.\\)\\.$#"
			count: 1
			path: src/Core/AbstractObject.php

		-
			message: "#^Call to function is_callable\\(\\) with callable\\(\\)\\: mixed will always evaluate to true\\.$#"
			count: 2
			path: src/Core/AbstractObject.php

		-
			message: "#^Offset 'coerce' does not exist on array\\('type' \\=\\> string, \\?'coerce' \\=\\> callable\\(\\)\\: mixed, \\?'exception' \\=\\> class\\-string, \\?'exportable' \\=\\> bool, \\?'list' \\=\\> bool, \\?'required' \\=\\> bool, \\?'size' \\=\\> array\\(\\?'fixed' \\=\\> int, \\?'min' \\=\\> int, \\?'max' \\=\\> int\\), \\?'value' \\=\\> mixed, \\.\\.\\.\\)\\.$#"
			count: 1
			path: src/Core/AbstractObject.php

		-
			message: "#^Offset 'list' does not exist on array\\('type' \\=\\> string, 'restricted' \\=\\> false, \\?'exception' \\=\\> class\\-string, \\?'exportable' \\=\\> bool, \\?'list' \\=\\> bool, \\?'required' \\=\\> bool, \\?'size' \\=\\> array\\(\\?'fixed' \\=\\> int, \\?'min' \\=\\> int, \\?'max' \\=\\> int\\), \\?'value' \\=\\> mixed, \\.\\.\\.\\)\\.$#"
			count: 1
			path: src/Core/AbstractObject.php

		-
			message: "#^Method ild78\\\\Core\\\\AbstractObject\\:\\:getModel\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Core/AbstractObject.php

		-
			message: "#^Offset 'coerce' does not exist on array\\(\\?'coerce' \\=\\> callable\\(\\)\\: mixed, \\?'exception' \\=\\> class\\-string, \\?'exportable' \\=\\> bool, \\?'list' \\=\\> bool, \\?'restricted' \\=\\> bool, \\?'required' \\=\\> bool, \\?'size' \\=\\> array\\(\\?'fixed' \\=\\> int, \\?'min' \\=\\> int, \\?'max' \\=\\> int\\), 'type' \\=\\> string, \\.\\.\\.\\)\\.$#"
			count: 1
			path: src/Core/AbstractObject.php

		-
			message: "#^Offset 'list' does not exist on array\\('type' \\=\\> string, \\?'exception' \\=\\> class\\-string, \\?'exportable' \\=\\> bool, \\?'list' \\=\\> bool, \\?'restricted' \\=\\> bool, \\?'required' \\=\\> bool, \\?'size' \\=\\> array\\(\\?'fixed' \\=\\> int, \\?'min' \\=\\> int, \\?'max' \\=\\> int\\), \\?'value' \\=\\> mixed, \\.\\.\\.\\)\\.$#"
			count: 1
			path: src/Core/AbstractObject.php

		-
			message: "#^Offset 'value' does not exist on array\\('type' \\=\\> string, 'coerce' \\=\\> callable\\(\\)\\: mixed, \\?'exception' \\=\\> class\\-string, \\?'exportable' \\=\\> bool, \\?'restricted' \\=\\> bool, \\?'required' \\=\\> bool, \\?'size' \\=\\> array\\(\\?'fixed' \\=\\> int, \\?'min' \\=\\> int, \\?'max' \\=\\> int\\), \\?'value' \\=\\> mixed, \\.\\.\\.\\)\\.$#"
			count: 1
			path: src/Core/AbstractObject.php

		-
			message: "#^Offset 'restricted' does not exist on array\\('type' \\=\\> string, 'coerce' \\=\\> callable\\(\\)\\: mixed, \\?'exception' \\=\\> class\\-string, \\?'exportable' \\=\\> bool, \\?'restricted' \\=\\> bool, \\?'required' \\=\\> bool, \\?'size' \\=\\> array\\(\\?'fixed' \\=\\> int, \\?'min' \\=\\> int, \\?'max' \\=\\> int\\), \\?'value' \\=\\> mixed, \\.\\.\\.\\)\\.$#"
			count: 1
			path: src/Core/AbstractObject.php

		-
			message: "#^Offset 'restricted' does not exist on array\\('type' \\=\\> string, \\?'exception' \\=\\> class\\-string, \\?'exportable' \\=\\> bool, \\?'list' \\=\\> bool, \\?'restricted' \\=\\> bool, \\?'required' \\=\\> bool, \\?'size' \\=\\> array\\(\\?'fixed' \\=\\> int, \\?'min' \\=\\> int, \\?'max' \\=\\> int\\), \\?'value' \\=\\> mixed, \\.\\.\\.\\)\\.$#"
			count: 1
			path: src/Core/AbstractObject.php

		-
			message: "#^Offset 'exception' does not exist on array\\(\\?'coerce' \\=\\> callable\\(\\)\\: mixed, \\?'exception' \\=\\> class\\-string, \\?'exportable' \\=\\> bool, \\?'list' \\=\\> bool, \\?'restricted' \\=\\> bool, \\?'required' \\=\\> bool, \\?'size' \\=\\> array\\(\\?'fixed' \\=\\> int, \\?'min' \\=\\> int, \\?'max' \\=\\> int\\), 'type' \\=\\> string, \\.\\.\\.\\)\\.$#"
			count: 1
			path: src/Core/AbstractObject.php

		-
			message: "#^Parameter \\#4 \\$body of class GuzzleHttp\\\\Psr7\\\\Request constructor expects Psr\\\\Http\\\\Message\\\\StreamInterface\\|resource\\|string\\|null, array\\|string given\\.$#"
			count: 1
			path: src/Core/Request.php

		-
			message: "#^Parameter \\#2 \\$replace of function str_replace expects array\\|string, string\\|null given\\.$#"
			count: 1
			path: src/Core/Request.php

		-
			message: "#^Parameter \\#3 \\$subject of function str_replace expects array\\|string, Psr\\\\Http\\\\Message\\\\StreamInterface given\\.$#"
			count: 1
			path: src/Core/Request.php

		-
			message: "#^Cannot call method getStatusCode\\(\\) on Psr\\\\Http\\\\Message\\\\ResponseInterface\\|null\\.$#"
			count: 3
			path: src/Core/Request.php

		-
			message: "#^Cannot call method getReasonPhrase\\(\\) on Psr\\\\Http\\\\Message\\\\ResponseInterface\\|null\\.$#"
			count: 1
			path: src/Core/Request.php

		-
			message: "#^Cannot call method getBody\\(\\) on Psr\\\\Http\\\\Message\\\\ResponseInterface\\|null\\.$#"
			count: 2
			path: src/Core/Request.php

		-
			message: "#^Cannot call static method getDefaultMessage\\(\\) on class\\-string\\|null\\.$#"
			count: 1
			path: src/Core/Request.php

		-
			message: "#^Call to function array_key_exists\\(\\) with 'body' and array\\('headers' \\=\\> array, \\?'query' \\=\\> array, 'timeout' \\=\\> int\\) will always evaluate to false\\.$#"
			count: 1
			path: src/Core/Request.php

		-
			message: "#^Parameter \\#3 \\$headers of class GuzzleHttp\\\\Psr7\\\\Request constructor expects array, array\\|int given\\.$#"
			count: 1
			path: src/Core/Request.php

		-
			message: "#^Parameter \\#4 \\$body of class GuzzleHttp\\\\Psr7\\\\Request constructor expects Psr\\\\Http\\\\Message\\\\StreamInterface\\|resource\\|string\\|null, array\\|int\\|null given\\.$#"
			count: 1
			path: src/Core/Request.php

		-
			message: "#^Parameter \\#2 \\$response of method ild78\\\\Core\\\\Request\\:\\:addCallWithOtherClient\\(\\) expects Psr\\\\Http\\\\Message\\\\ResponseInterface, Psr\\\\Http\\\\Message\\\\ResponseInterface\\|null given\\.$#"
			count: 1
			path: src/Core/Request.php

		-
			message: "#^Offset 'request'\\|'response' does not exist on array\\(\\?'code' \\=\\> int, \\?'message' \\=\\> string, \\?'previous' \\=\\> Throwable, \\?'request' \\=\\> Psr\\\\Http\\\\Message\\\\RequestInterface, \\?'response' \\=\\> Psr\\\\Http\\\\Message\\\\ResponseInterface, \\?'status' \\=\\> int\\)\\.$#"
			count: 2
			path: src/Exceptions/HttpException.php

		-
			message: "#^Right side of && is always true\\.$#"
			count: 1
			path: src/Exceptions/HttpException.php
