parameters:
	ignoreErrors:
		-
			message: "#^Offset 'list' does not exist on array\\(\\?'coerce' \\=\\> callable\\(\\)\\: mixed, \\?'exception' \\=\\> class\\-string, \\?'exportable' \\=\\> bool, \\?'list' \\=\\> bool, \\?'restricted' \\=\\> bool, \\?'required' \\=\\> bool, \\?'size' \\=\\> array\\(\\?'fixed' \\=\\> int, \\?'min' \\=\\> int, \\?'max' \\=\\> int\\), 'type' \\=\\> string, \\.\\.\\.\\)\\.$#"
			count: 2
			path: src/Core/AbstractObject.php

		-
			message: "#^Offset 'value' does not exist on array\\(\\?'coerce' \\=\\> callable\\(\\)\\: mixed, \\?'exception' \\=\\> class\\-string, \\?'exportable' \\=\\> bool, \\?'list' \\=\\> bool, \\?'restricted' \\=\\> bool, \\?'required' \\=\\> bool, \\?'size' \\=\\> array\\(\\?'fixed' \\=\\> int, \\?'min' \\=\\> int, \\?'max' \\=\\> int\\), 'type' \\=\\> string, \\.\\.\\.\\)\\.$#"
			count: 7
			path: src/Core/AbstractObject.php

		-
			message: "#^Offset 'list' does not exist on array\\('type' \\=\\> 'DateTime', \\?'coerce' \\=\\> callable\\(\\)\\: mixed, \\?'exception' \\=\\> class\\-string, \\?'exportable' \\=\\> bool, \\?'list' \\=\\> bool, \\?'restricted' \\=\\> bool, \\?'required' \\=\\> bool, \\?'size' \\=\\> array\\(\\?'fixed' \\=\\> int, \\?'min' \\=\\> int, \\?'max' \\=\\> int\\), \\.\\.\\.\\)\\.$#"
			count: 1
			path: src/Core/AbstractObject.php

		-
			message: "#^Offset 'restricted' does not exist on array\\(\\?'coerce' \\=\\> callable\\(\\)\\: mixed, \\?'exception' \\=\\> class\\-string, \\?'exportable' \\=\\> bool, \\?'list' \\=\\> bool, \\?'restricted' \\=\\> bool, \\?'required' \\=\\> bool, \\?'size' \\=\\> array\\(\\?'fixed' \\=\\> int, \\?'min' \\=\\> int, \\?'max' \\=\\> int\\), 'type' \\=\\> string, \\.\\.\\.\\)\\.$#"
			count: 1
			path: src/Core/AbstractObject.php

		-
			message: "#^Call to function is_callable\\(\\) with callable\\(\\)\\: mixed will always evaluate to true\\.$#"
			count: 2
			path: src/Core/AbstractObject.php

		-
			message: "#^Offset 'coerce' does not exist on array\\('type' \\=\\> string, \\?'coerce' \\=\\> callable\\(\\)\\: mixed, \\?'exception' \\=\\> class\\-string, \\?'exportable' \\=\\> bool, \\?'list' \\=\\> bool, \\?'required' \\=\\> bool, \\?'size' \\=\\> array\\(\\?'fixed' \\=\\> int, \\?'min' \\=\\> int, \\?'max' \\=\\> int\\), \\?'value' \\=\\> mixed, \\.\\.\\.\\)\\.$#"
			count: 1
			path: src/Core/AbstractObject.php

		-
			message: "#^Offset 'list' does not exist on array\\('type' \\=\\> string, 'restricted' \\=\\> false, \\?'exception' \\=\\> class\\-string, \\?'exportable' \\=\\> bool, \\?'list' \\=\\> bool, \\?'required' \\=\\> bool, \\?'size' \\=\\> array\\(\\?'fixed' \\=\\> int, \\?'min' \\=\\> int, \\?'max' \\=\\> int\\), \\?'value' \\=\\> mixed, \\.\\.\\.\\)\\.$#"
			count: 1
			path: src/Core/AbstractObject.php

		-
			message: "#^Method ild78\\\\Core\\\\AbstractObject\\:\\:getModel\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Core/AbstractObject.php

		-
			message: "#^Offset 'coerce' does not exist on array\\(\\?'coerce' \\=\\> callable\\(\\)\\: mixed, \\?'exception' \\=\\> class\\-string, \\?'exportable' \\=\\> bool, \\?'list' \\=\\> bool, \\?'restricted' \\=\\> bool, \\?'required' \\=\\> bool, \\?'size' \\=\\> array\\(\\?'fixed' \\=\\> int, \\?'min' \\=\\> int, \\?'max' \\=\\> int\\), 'type' \\=\\> string, \\.\\.\\.\\)\\.$#"
			count: 1
			path: src/Core/AbstractObject.php

		-
			message: "#^Offset 'list' does not exist on array\\('type' \\=\\> string, \\?'exception' \\=\\> class\\-string, \\?'exportable' \\=\\> bool, \\?'list' \\=\\> bool, \\?'restricted' \\=\\> bool, \\?'required' \\=\\> bool, \\?'size' \\=\\> array\\(\\?'fixed' \\=\\> int, \\?'min' \\=\\> int, \\?'max' \\=\\> int\\), \\?'value' \\=\\> mixed, \\.\\.\\.\\)\\.$#"
			count: 1
			path: src/Core/AbstractObject.php

		-
			message: "#^Offset 'value' does not exist on array\\('type' \\=\\> string, 'coerce' \\=\\> callable\\(\\)\\: mixed, \\?'exception' \\=\\> class\\-string, \\?'exportable' \\=\\> bool, \\?'restricted' \\=\\> bool, \\?'required' \\=\\> bool, \\?'size' \\=\\> array\\(\\?'fixed' \\=\\> int, \\?'min' \\=\\> int, \\?'max' \\=\\> int\\), \\?'value' \\=\\> mixed, \\.\\.\\.\\)\\.$#"
			count: 1
			path: src/Core/AbstractObject.php

		-
			message: "#^Offset 'restricted' does not exist on array\\('type' \\=\\> string, 'coerce' \\=\\> callable\\(\\)\\: mixed, \\?'exception' \\=\\> class\\-string, \\?'exportable' \\=\\> bool, \\?'restricted' \\=\\> bool, \\?'required' \\=\\> bool, \\?'size' \\=\\> array\\(\\?'fixed' \\=\\> int, \\?'min' \\=\\> int, \\?'max' \\=\\> int\\), \\?'value' \\=\\> mixed, \\.\\.\\.\\)\\.$#"
			count: 1
			path: src/Core/AbstractObject.php

		-
			message: "#^Offset 'restricted' does not exist on array\\('type' \\=\\> string, \\?'exception' \\=\\> class\\-string, \\?'exportable' \\=\\> bool, \\?'list' \\=\\> bool, \\?'restricted' \\=\\> bool, \\?'required' \\=\\> bool, \\?'size' \\=\\> array\\(\\?'fixed' \\=\\> int, \\?'min' \\=\\> int, \\?'max' \\=\\> int\\), \\?'value' \\=\\> mixed, \\.\\.\\.\\)\\.$#"
			count: 1
			path: src/Core/AbstractObject.php

		-
			message: "#^Offset 'exception' does not exist on array\\(\\?'coerce' \\=\\> callable\\(\\)\\: mixed, \\?'exception' \\=\\> class\\-string, \\?'exportable' \\=\\> bool, \\?'list' \\=\\> bool, \\?'restricted' \\=\\> bool, \\?'required' \\=\\> bool, \\?'size' \\=\\> array\\(\\?'fixed' \\=\\> int, \\?'min' \\=\\> int, \\?'max' \\=\\> int\\), 'type' \\=\\> string, \\.\\.\\.\\)\\.$#"
			count: 1
			path: src/Core/AbstractObject.php

		-
			message: "#^Offset 'request'\\|'response' does not exist on array\\(\\?'code' \\=\\> int, \\?'message' \\=\\> string, \\?'previous' \\=\\> Throwable, \\?'request' \\=\\> Psr\\\\Http\\\\Message\\\\RequestInterface, \\?'response' \\=\\> Psr\\\\Http\\\\Message\\\\ResponseInterface, \\?'status' \\=\\> int\\)\\.$#"
			count: 2
			path: src/Exceptions/HttpException.php

		-
			message: "#^Right side of && is always true\\.$#"
			count: 1
			path: src/Exceptions/HttpException.php
